body {
  background-color: plum;
  display: flex;
  justify-content: center;
}

.ul {
  list-style-type: none;
  margin: 500px;
  padding: 500px;
  position: absolute;
  margin-top: 30px;
}
.container {
  display: block;
  width: 500px;
  margin-top: 10px;
}

.new-task {
  width: 100%;
  background-color: azure;
  border-radius: 10px;
  height: 30px;
  border-color: rgb(6, 167, 67);
  border-width: 2px;
  text-align: center;
  font-size: 18px;
}

.boton {
  background-color: fuchsia;
  border-radius: 10px;
  border-color: forestgreen;
  border-width: 2px;
  font-size: 20px;
  margin-top: 30px;
  width: 60%;
  height: 60%;
  margin: 100px;
  display: block;

  margin-top: 10px;
}
